$google: #dd4b39;
$facebook: #3b5999;
$github: #24292E;
$twitter: #55acee;

$social-colors: (
  "google": $google,
  "facebook": $facebook,
  "github": $github,
  "twitter": $twitter
);

$light: #ffffff;
