@import 'functions';
@import 'colors';

// Animation timing
$animation-speed: 250ms;
$animation: $animation-speed ease-in-out;
$animation-fast-speed: 150ms;
$animation-fast: $animation-fast-speed ease-in-out;
