@import 'functions';
@import 'colors';

// $body-bg: #F2F2F2;

// Animation timing
$animation-speed: 250ms;
$animation: $animation-speed ease-in-out;
$animation-fast-speed: 150ms;
$animation-fast: $animation-fast-speed ease-in-out;

//$input-btn-focus-width: 0;
//$input-btn-focus-box-shadow: none;
//$btn-focus-box-shadow: none;
