@import "config";
/*
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
*/

// Uncomment as needed.
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";

/*
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
*/

// @import "~bootstrap/scss/transitions";
/*
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
*/
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";

// Can conflict with TailwindCSS so avoid if possible.
// @import "~bootstrap/scss/utilities";

// @import "typography";
// @import "utils";
@import "social-buttons";

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

html, body {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  // CSS 3.0
  overflow-scrolling: touch;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $body-color;
  -webkit-box-shadow: 0 0 0 1000px $body-bg inset;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-200;
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 1px solid transparent;
}
